<h1> Authentication Sample </h1>
<form>
  <h2 *ngIf="isLogin"> Login </h2>
  <h2 *ngIf="!isLogin"> Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="username" name="username" />
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="password" name="password" />
  <div *ngIf="!isLogin">
      <label> Patata </label>
      <input type="password" [(ngModel)]="patata" name="patata" />

  </div>

  <div style="padding-top:30px">
    <button *ngIf="isLogin" (click)="login()"> login </button>
    <button *ngIf="!isLogin" (click)="signup()"> signup </button>
  </div>

</form>
<p class="error"> {{ error }} </p>